In [1]:
# required for jupyter notebook
%matplotlib inline 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(rc={'figure.figsize':(8,6)}) # set sns figure size

import os
import math

In [2]:
# read raw csv by marking dropping missing values
missing_values = ['NIL', 'nil', '']
raw_df = pd.read_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'barisal-weather-waterlevel_merged.csv'), 
                     na_values=missing_values)

raw_df.head()

,Station,Year,Month,Day,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day),MAX_WL(m),MIN_WL(m),AVE_WL(m)
0,Barisal,2017,1,1,25.2,13.8,0.0,1.0,94,62.0,6.3,4.5,277.72,1.17,0.13,0.65
1,Barisal,2017,1,2,25.4,13.8,0.0,1.0,94,62.0,5.5,5.3,257.52,1.10,0.11,0.65
2,Barisal,2017,1,3,25.6,13.4,0.0,1.0,94,61.0,6.2,4.6,275.20,1.05,0.08,0.65
3,Barisal,2017,1,4,25.4,14.0,0.0,1.0,94,64.0,6.3,4.5,277.72,0.99,0.04,0.60
4,Barisal,2017,1,5,23.0,13.0,0.0,1.0,94,68.0,4.0,6.8,219.63,0.95,0.02,0.55

## Pre-process on the daily dataset

In [3]:
preProcessed_df = raw_df.copy()

### 1. Put NaN for invalid column values

**2017 June 24 and 2019 whole December contains invalid values for Cloudy > 24.0**

In [4]:
preProcessed_df.loc[preProcessed_df['Cloudy (hour/day)'] > 24.0, 'Cloudy (hour/day)'] = math.nan

### 2. Fill missing values with mean of monthly values

In [5]:
def show_missing_data(_df):
    df = _df.copy()
    total_cnt = df.shape[0]
    missing_cnt = df.shape[0]-df.dropna().shape[0]
    print(f'Total instances={total_cnt}, missing={missing_cnt}({round(missing_cnt*100.0/total_cnt, 2)}%)')

show_missing_data(preProcessed_df)

Total instances=1453, missing=212(14.59%)

In [6]:
for column in preProcessed_df.columns:
    if column in ['Station', 'Year', 'Month', 'Day']:
        continue
        
    preProcessed_df[column] = preProcessed_df.groupby(['Month', 'Year'])[column].transform(
        lambda grp: grp.fillna(np.mean(grp))
    )
    
show_missing_data(preProcessed_df)

Total instances=1453, missing=90(6.19%)

In [7]:
# preProcessed_df[preProcessed_df.isna().any(axis=1)]

**Some weather data for whole month of December 2019, February 2018 and May 2018 are still missing. Dropping them.**

In [8]:
preProcessed_df.dropna(inplace=True)
show_missing_data(preProcessed_df)

Total instances=1363, missing=0(0.0%)

### 3. Drop unnecessary columns: Station, Year, Day

In [9]:
preProcessed_df.drop(columns=['Station', 'Year', 'Day'], inplace=True)
preProcessed_df.head()

,Month,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day),MAX_WL(m),MIN_WL(m),AVE_WL(m)
0,1,25.2,13.8,0.0,1.0,94,62.0,6.3,4.5,277.72,1.17,0.13,0.65
1,1,25.4,13.8,0.0,1.0,94,62.0,5.5,5.3,257.52,1.10,0.11,0.65
2,1,25.6,13.4,0.0,1.0,94,61.0,6.2,4.6,275.20,1.05,0.08,0.65
3,1,25.4,14.0,0.0,1.0,94,64.0,6.3,4.5,277.72,0.99,0.04,0.60
4,1,23.0,13.0,0.0,1.0,94,68.0,4.0,6.8,219.63,0.95,0.02,0.55

## Pre-process the forecast-with-avg dataset

In [10]:
from custom_utils import get_avg_df

In [11]:
preProcessed_forecastAvg_df = raw_df.copy()

# put NaN where invalid data for the column 'Cloudy'
preProcessed_forecastAvg_df.loc[preProcessed_forecastAvg_df['Cloudy (hour/day)']>24.0, 'Cloudy (hour/day)'] = math.nan

# fill NaN values with monthly mean before forming the forecast-with-avg dataset
for column in preProcessed_forecastAvg_df.columns:
    if column in ['Station', 'Year', 'Month', 'Day']:
        continue
        
    preProcessed_forecastAvg_df[column] = preProcessed_forecastAvg_df.groupby(['Month', 'Year'])[column].transform(
        lambda grp: grp.fillna(np.mean(grp))
    )

preProcessed_forecastAvg_df = get_avg_df(preProcessed_forecastAvg_df)

In [12]:
show_missing_data(preProcessed_forecastAvg_df)

Total instances=1443, missing=84(5.82%)

In [13]:
preProcessed_forecastAvg_df.dropna(inplace=True)
show_missing_data(preProcessed_forecastAvg_df)

Total instances=1359, missing=0(0.0%)

In [14]:
preProcessed_forecastAvg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1359 entries, 0 to 1442
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Month                                 1359 non-null   int64
 1   Avg Max Temp. (degree Celcius)        1359 non-null   float64
 2   Avg Min Temp. (degree Celcius)        1359 non-null   float64
 3   Avg Rainfall (mm)                     1359 non-null   float64
 4   Avg Actual Evaporation (mm)           1359 non-null   float64
 5   Avg Relative Humidity (morning, %)    1359 non-null   float64
 6   Avg Relative Humidity (afternoon, %)  1359 non-null   float64
 7   Avg Sunshine (hour/day)               1359 non-null   float64
 8   Avg Cloudy (hour/day)                 1359 non-null   float64
 9   Avg Solar Radiation (cal/cm^2/day)    1359 non-null   float64
 10  MAX_WL(m)                             1359 non-null   float64
 11  AVE_WL(m)                             1359 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 138.0 KB

## Dropping Max Water Level and Min Water Level, will predict Average Water Level

In [15]:
preProcessed_df.drop(columns=['MAX_WL(m)'], inplace=True)
preProcessed_forecastAvg_df.drop(columns=['MAX_WL(m)'], inplace=True)

preProcessed_df.drop(columns=['MIN_WL(m)'], inplace=True)

## Save the pre-processed datasets

In [16]:
preProcessed_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'pre-processed', 'weather-waterlevel_preprocessed_regression.csv'), index=False)
preProcessed_forecastAvg_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'pre-processed', 'weather-waterlevel-forecast-avg_preprocessed_regression.csv'), index=False)

## Form the classification dataset and save
- class0: (0.0289, 0.75]
- class1: (0.75, 1.4]
- class2: (1.4, 2.64]

In [17]:
bins = pd.qcut(preProcessed_df['AVE_WL(m)'], 3)
bins.value_counts()

(0.028999999999999998, 0.75]    458
(0.75, 1.4]                     453
(1.4, 2.64]                     452
Name: AVE_WL(m), dtype: int64

In [18]:
preProcessed_classification_df = preProcessed_df.copy()
preProcessed_classification_df['AVE_WL(m)'] = pd.cut(x=preProcessed_classification_df['AVE_WL(m)'], \
                                                     bins=[0.028, 0.75, 1.4, 2.64], \
                                                     labels=[0, 1, 2])
preProcessed_classification_df.sample(5)

,Month,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day),AVE_WL(m)
788,3,29.0,19.0,0.0,3.0,77,53.0,9.0,2.9,450.92,0
1366,10,28.0,25.2,2.0,1.0,91,91.0,0.0,11.6,146.80,2
1290,7,30.0,25.0,9.0,1.0,91,84.0,1.3,12.1,229.46,2
652,10,32.0,22.8,0.0,2.0,95,59.0,7.0,4.6,350.55,1
673,11,29.2,18.0,3.2,2.0,95,57.0,7.0,4.0,305.98,1

In [19]:
preProcessed_forecastAvg_classification_df = preProcessed_forecastAvg_df.copy()
preProcessed_forecastAvg_classification_df['AVE_WL(m)'] = pd.cut(x=preProcessed_forecastAvg_df['AVE_WL(m)'], \
                                                     bins=[0.028, 0.74, 1.37, 2.64], \
                                                     labels=[0, 1, 2])
preProcessed_forecastAvg_classification_df.sample(5)

,Month,Avg Max Temp. (degree Celcius),Avg Min Temp. (degree Celcius),Avg Rainfall (mm),Avg Actual Evaporation (mm),"Avg Relative Humidity (morning, %)","Avg Relative Humidity (afternoon, %)",Avg Sunshine (hour/day),Avg Cloudy (hour/day),Avg Solar Radiation (cal/cm^2/day),AVE_WL(m)
610,9,31.866667,26.600000,1.733333,2.066667,96.000000,79.666667,4.000000,8.200000,285.216667,2
341,12,25.066667,14.333333,0.000000,1.000000,94.000000,63.666667,5.800000,4.900000,254.779065,0
230,8,34.733333,27.066667,1.333333,3.000000,96.000000,76.666667,5.766667,7.033333,373.438698,2
1287,7,29.533333,26.400000,27.000000,1.000000,91.666667,83.000000,1.233333,12.166667,227.313333,2
828,4,33.933333,24.000000,0.000000,4.666667,90.000000,53.000000,8.866667,3.733333,464.003333,0

In [20]:
preProcessed_classification_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'pre-processed', 'weather-waterlevel_preprocessed_classification.csv'), index=False)
preProcessed_forecastAvg_classification_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'pre-processed', 'weather-waterlevel-forecast-avg_preprocessed_classification.csv'), index=False)

## Create separate train test datasets (ratio=80:20) and save

In [21]:
def splitTrainTest_and_scale(_df, class_label, is_regression=False):
    from sklearn.model_selection import train_test_split
    from sklearn.preprocessing import MinMaxScaler
    
    df = _df.copy()
    
    X_all = df.drop(columns=class_label)
    y_all = df[class_label]

    if(is_regression):
        X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42, shuffle=True)
    else:    
        X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42, stratify=y_all)
    
    # scale the dataset
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_train = pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train.columns)
    X_test_scaled = scaler.transform(X_test)
    X_test = pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test.columns)
    
    # concat X, y
    train_df = pd.concat([X_train, y_train], axis=1).reset_index(drop=True)
    test_df = pd.concat([X_test, y_test], axis=1).reset_index(drop=True)
    
    return train_df, test_df

In [22]:
preProcessed_train_df, preProcessed_test_df = splitTrainTest_and_scale(preProcessed_df, 'AVE_WL(m)', is_regression=True)

preProcessed_forecastAvg_train_df, preProcessed_forecastAvg_test_df = splitTrainTest_and_scale(preProcessed_forecastAvg_df, \
                                                                                       class_label='AVE_WL(m)', \
                                                                                       is_regression=True)

In [23]:
preProcessed_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'train', 'weather-waterlevel_train_regression.csv'), index=False)
preProcessed_forecastAvg_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'train', 'weather-waterlevel-forecast-avg_train_regression.csv'), index=False)

preProcessed_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'test', 'weather-waterlevel_test_regression.csv'), index=False)
preProcessed_forecastAvg_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'test', 'weather-waterlevel-forecast-avg_test_regression.csv'), index=False)

In [24]:
preProcessed_classification_train_df, preProcessed_classification_test_df \
= splitTrainTest_and_scale(preProcessed_classification_df, class_label='AVE_WL(m)')

preProcessed_forecastAvg_classification_train_df, preProcessed_forecastAvg_classification_test_df \
= splitTrainTest_and_scale(preProcessed_forecastAvg_classification_df, class_label='AVE_WL(m)')

In [25]:
preProcessed_classification_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'train', 'weather-waterlevel_train_classification.csv'), index=False)
preProcessed_forecastAvg_classification_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'train', 'weather-waterlevel-forecast-avg_train_classification.csv'), index=False)

preProcessed_classification_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'test', 'weather-waterlevel_test_classification.csv'), index=False)
preProcessed_forecastAvg_classification_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'water-level', 'final-datasets', 'test', 'weather-waterlevel-forecast-avg_test_classification.csv'), index=False)