In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("/content/drive/MyDrive/all-station_raw.csv")

In [30]:
def rain_classifier(dataframe):
  data = dataframe['Rainfall (mm)']
  arr = []
  arr_enc = []
  for x in data:
    if x=='NIL':
      arr.append('NIL')
      arr_enc.append('NIL')
    else:
      if float(x)==0:
        arr.append('no rain')
        arr_enc.append(0)
      elif float(x)>=1 and float(x)<=20:
        arr.append('mild rain')
        arr_enc.append(1)
      else:
        arr.append('medium to heavy rain')
        arr_enc.append(2)
  df['Rainfall Type'] = arr
  df['Rainfall Type (encoded)'] = arr_enc

In [31]:
rain_classifier(df)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4954 entries, 0 to 4953
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Station                           4954 non-null   object
 1   Year                              4954 non-null   int64
 2   Month                             4954 non-null   int64
 3   Day                               4954 non-null   int64
 4   Max Temp. (degree Celcius)        4954 non-null   object
 5   Min Temp. (degree Celcius)        4954 non-null   object
 6   Rainfall (mm)                     4954 non-null   object
 7   Actual Evaporation (mm)           4954 non-null   object
 8   Relative Humidity (morning, %)    4954 non-null   object
 9   Relative Humidity (afternoon, %)  4954 non-null   object
 10  Sunshine (hour/day)               4954 non-null   object
 11  Cloudy (hour/day)                 4954 non-null   object
 12  Solar Radiation (cal/cm^2/day)    4954 non-null   object
 13  Rainfall Type                     4954 non-null   object
 14  Rainfall Type (encoded)           4954 non-null   object
dtypes: int64(3), object(12)
memory usage: 580.7+ KB

In [33]:
df['Rainfall Type'].value_counts()

no rain                 3280
mild rain               1004
medium to heavy rain     536
NIL                      134
Name: Rainfall Type, dtype: int64

In [34]:
df['Rainfall Type (encoded)'].value_counts()

0      3280
1      1004
2       536
NIL     134
Name: Rainfall Type (encoded), dtype: int64