In [1]:
# required for jupyter notebook
%matplotlib inline 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(rc={'figure.figsize':(8,6)}) # set sns figure size

import os
import math

## 1. Read each station dataset separately

In [2]:
# read Gazipur raw csv by marking missing values as NaN
missing_values = ['NIL', 'nil', '']
gazipur_df = pd.read_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'gazipur_2016-2020', 'gazipur.csv'), 
                     na_values=missing_values)

gazipur_df.sample(5)

,Station,Year,Month,Day,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day)
677,Gazipur,2017,11,8,32.8,20.2,0.0,3.0,79.0,51.0,9.5,2.4,364.15
1205,Gazipur,2019,4,20,34.5,22.3,0.0,5.0,65.0,55.0,9.3,3.2,478.79
19,Gazipur,2016,1,20,21.4,16.2,7.2,2.2,83.0,79.0,NaN,NaN,115.40
501,Gazipur,2017,5,16,29.5,21.0,0.0,5.6,91.0,74.0,2.4,10.9,264.89
26,Gazipur,2016,1,27,24.5,9.0,0.0,2.0,87.0,70.0,6.6,NaN,279.11

In [3]:
rangpur_df = pd.read_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'rangpur_mid2017-2020', 'rangpur.csv'), 
                     na_values=missing_values)

rangpur_df.sample(5)

,Station,Year,Month,Day,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day)
612,Rangpur,2019,8,5,33.2,31.2,4.0,5.0,80.0,65,10.0,2.9,511.50
572,Rangpur,2019,6,26,33.2,24.5,18.6,2.0,92.0,87,0.0,13.6,190.60
690,Rangpur,2019,10,22,27.2,23.8,0.0,2.0,91.0,68,6.3,5.2,323.63
922,Rangpur,2020,6,10,34.5,27.5,0.0,6.0,77.0,71,8.0,5.6,448.47
472,Rangpur,2019,3,18,30.2,16.8,0.0,2.0,68.0,51,6.0,5.8,351.89

In [4]:
barisal_df = pd.read_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'barisal_2017-2020', 'barisal.csv'), 
                     na_values=missing_values)

barisal_df.sample(5)

,Station,Year,Month,Day,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day)
632,Barisal,2018,10,3,35.2,26.2,0.0,3.0,91,62.0,7.9,3.7,376.74
1281,Barisal,2020,7,13,29.2,25.8,5.0,1.0,91,91.0,0.0,13.4,187.60
1126,Barisal,2020,2,9,25.6,11.6,0.0,1.0,76,56.0,4.3,6.9,263.63
1011,Barisal,2019,10,17,32.4,24.0,0.0,2.0,90,96.0,7.5,4.1,365.10
1156,Barisal,2020,3,10,30.8,16.2,0.0,3.0,88,36.0,9.1,2.8,454.10

In [5]:
habiganj_df = pd.read_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'habiganj_2019-2020', 'habiganj.csv'), 
                     na_values=missing_values)

habiganj_df.sample(5)

,Station,Year,Month,Day,Max Temp. (degree Celcius),Min Temp. (degree Celcius),Rainfall (mm),Actual Evaporation (mm),"Relative Humidity (morning, %)","Relative Humidity (afternoon, %)",Sunshine (hour/day),Cloudy (hour/day),Solar Radiation (cal/cm^2/day)
257,Habiganj,2019,9,15,35.8,25.5,0.0,NaN,88,62,8.9,3.3,430.06
466,Habiganj,2020,4,11,31.5,19.1,0.0,NaN,83,60,8.6,3.9,455.53
155,Habiganj,2019,6,5,30.7,21.1,171.8,NaN,88,88,0.0,13.6,190.40
457,Habiganj,2020,4,2,33.2,19.6,0.0,NaN,87,68,8.9,3.6,465.27
67,Habiganj,2019,3,9,29.5,15.8,21.0,0.0,82,67,0.0,11.8,162.60

## 2. Pre-process each station's dataset with the techniques used in 'brri-dataset_pre-process.ipynb' notebook

### 2.1. Replace invalid values with NaN

- Max/Min Temp. (degree Celcius) > 50 
- Relative Humidity (afternoon, %) > 100, 
- Sunshine/Cloudy (hour/day) > 24, 
- Solar Radiation (cal/cm^2/day) > 1000 (from the box plot)

### 2.2. Fill up missing values with monthly average (DO NOT drop values that are still missing after fillup)

In [6]:
def pre_process(_df):
    df = _df.copy()
    
    # apply step 2.1
    df.loc[df['Max Temp. (degree Celcius)'] > 50, 'Max Temp. (degree Celcius)'] = math.nan
    df.loc[df['Min Temp. (degree Celcius)'] > 50, 'Min Temp. (degree Celcius)'] = math.nan
    df.loc[df['Relative Humidity (afternoon, %)'] > 100, 'Relative Humidity (afternoon, %)'] = math.nan
    df.loc[df['Sunshine (hour/day)'] > 24, 'Sunshine (hour/day)'] = math.nan
    df.loc[df['Cloudy (hour/day)'] > 24, 'Cloudy (hour/day)'] = math.nan
    df.loc[df['Solar Radiation (cal/cm^2/day)'] > 1000, 'Solar Radiation (cal/cm^2/day)'] = math.nan
    
    # apply step 2.2
    for column in df.columns:
        if column in ['Station', 'Year', 'Month', 'Day']:
            continue

        df[column] = df.groupby(['Station', 'Month'])[column].transform(
            lambda grp: grp.fillna(np.mean(grp))
        )
        
    # cannot drop missing values here it will mess up the average calculation
    # df.dropna(inplace=True)
    
    return df

def show_missing_data(_df):
    df = _df.copy()
    total_cnt = df.shape[0]
    missing_cnt = df.shape[0]-df.dropna().shape[0]
    print(f'Total instances={total_cnt}, missing={missing_cnt}({round(missing_cnt*100.0/total_cnt, 2)}%)')

In [7]:
gazipur_preProcessed_df = pre_process(gazipur_df)
# gazipur_df.sample(5)
habiganj_preProcessed_df = pre_process(habiganj_df)
barisal_preProcessed_df = pre_process(barisal_df)
rangpur_preProcessed_df = pre_process(rangpur_df)

In [8]:
show_missing_data(gazipur_preProcessed_df)
show_missing_data(habiganj_preProcessed_df)
show_missing_data(rangpur_preProcessed_df)
show_missing_data(barisal_preProcessed_df)

print()

print(gazipur_preProcessed_df.shape, rangpur_preProcessed_df.shape,
      barisal_preProcessed_df.shape, habiganj_preProcessed_df.shape)

Total instances=1827, missing=0(0.0%)
Total instances=547, missing=210(38.39%)
Total instances=1127, missing=0(0.0%)
Total instances=1453, missing=0(0.0%)

(1827, 13) (1127, 13) (1453, 13) (547, 13)

## 3. Form each station wise datasets using weekly average

In [9]:
def get_avg_df(_df, num_avg_days=7, num_days_before=3):
    '''
    input STATION-WISE dataframe with all expected columns
    returns dataframe with rainfall columns unchanged 
        and average of 'num_avg_days' number of days worth other features 
        and starting from 'num_days_before' ago
        
    example: num_avg_days=7, num_days_before=3
        then row for January 10 will have rainfall data of Jan 10 
            and other columns will have average of values from Jan 1 to 7
    '''
    df=_df.copy()

    station = df['Station'].loc[0]
    
    MONTH_COL = 'Month'
    MAX_TEMP_COL = 'Max Temp. (degree Celcius)'
    MIN_TEMP_COL = 'Min Temp. (degree Celcius)'
    RAINFALL_COL = 'Rainfall (mm)'
    ACTUAL_EVA_COL = 'Actual Evaporation (mm)'
    REL_HUMIDITY_M_COL = 'Relative Humidity (morning, %)'
    REL_HUMIDITY_A_COL = 'Relative Humidity (afternoon, %)'
    SUNSHINE_COL = 'Sunshine (hour/day)'
    CLOUDY_COL = 'Cloudy (hour/day)'
    SOLAR_RAD_COL = 'Solar Radiation (cal/cm^2/day)'

    months, min_temps, max_temps, rainfalls, actual_evas, rhs_m, rhs_a, sunshines, cloudies, solar_rads = \
    [], [], [], [], [], [], [], [], [], [] 

    def get_list_with_col(df, col_name):
        # returns list of columns from dataframe
        vals = []
        for val in df[col_name]:
            vals.append(val);
        return vals;

    # populate list with daily features
    months = get_list_with_col(df, MONTH_COL)
    min_temps = get_list_with_col(df, MIN_TEMP_COL)
    max_temps = get_list_with_col(df, MAX_TEMP_COL)
    rainfalls = get_list_with_col(df, RAINFALL_COL)
    actual_evas = get_list_with_col(df, ACTUAL_EVA_COL)
    rhs_m = get_list_with_col(df, REL_HUMIDITY_M_COL)
    rhs_a = get_list_with_col(df, REL_HUMIDITY_A_COL)
    sunshines = get_list_with_col(df, SUNSHINE_COL)
    cloudies = get_list_with_col(df, CLOUDY_COL)
    solar_rads = get_list_with_col(df, SOLAR_RAD_COL)

    def get_avg_in_range(vals, start, end):
        '''
        returns average of list values from start to end index 
        '''
        total = 0.0
        for i in range(start, end+1):
            total+=vals[i]
        return float(total/(end-start+1));

    new_months, new_min_temps, new_max_temps, new_rainfalls, new_actual_evas, \
    new_rhs_m, new_rhs_a, new_sunshines, new_cloudies, new_solar_rads = [], [], [], [], [], [], [], [], [], [] 

    output_rainfalls = []
    stations = []
    
    # populate new features with previous average values
    for curr_idx in range(num_avg_days+num_days_before, df.shape[0]):
        avg_start_idx = curr_idx-(num_avg_days+num_days_before)
        avg_end_idx = avg_start_idx+num_days_before-1
        
        new_min_temps.append(get_avg_in_range(min_temps, avg_start_idx, avg_end_idx))
        new_max_temps.append(get_avg_in_range(max_temps, avg_start_idx, avg_end_idx))
        new_actual_evas.append(get_avg_in_range(actual_evas, avg_start_idx, avg_end_idx))
        new_rhs_m.append(get_avg_in_range(rhs_m, avg_start_idx, avg_end_idx))
        new_rhs_a.append(get_avg_in_range(rhs_a, avg_start_idx, avg_end_idx))
        new_sunshines.append(get_avg_in_range(sunshines, avg_start_idx, avg_end_idx))
        new_cloudies.append(get_avg_in_range(cloudies, avg_start_idx, avg_end_idx))
        new_solar_rads.append(get_avg_in_range(solar_rads, avg_start_idx, avg_end_idx))
        new_rainfalls.append(get_avg_in_range(rainfalls, avg_start_idx, avg_end_idx))
        
        # in case days fall in two months, set the month that covers most days
        new_months.append(int(get_avg_in_range(months, avg_start_idx, avg_end_idx)))
        
        output_rainfalls.append(rainfalls[curr_idx])
        stations.append(station)

    return pd.DataFrame({'Station': stations,
                          MONTH_COL: new_months,
                         'Avg '+ MIN_TEMP_COL: new_min_temps,
                         'Avg '+ MAX_TEMP_COL: new_max_temps,
                         'Avg '+ RAINFALL_COL: new_rainfalls,
                         'Avg '+ ACTUAL_EVA_COL: new_actual_evas, 
                         'Avg '+ REL_HUMIDITY_M_COL: new_rhs_m,
                         'Avg '+ REL_HUMIDITY_A_COL: new_rhs_a,
                         'Avg '+ SUNSHINE_COL: new_sunshines,
                         'Avg '+ CLOUDY_COL: new_cloudies,
                         'Avg '+ SOLAR_RAD_COL: new_solar_rads,
                         RAINFALL_COL: output_rainfalls
                        })

In [10]:
gazipur_preProcessed_df = get_avg_df(gazipur_preProcessed_df)
# gazipur_preProcessed_df.sample(5)
rangpur_preProcessed_df = get_avg_df(rangpur_preProcessed_df)
barisal_preProcessed_df = get_avg_df(barisal_preProcessed_df)
habiganj_preProcessed_df = get_avg_df(habiganj_preProcessed_df)

## 4. Drop missing values

In [11]:
gazipur_preProcessed_df.dropna(inplace=True)
habiganj_preProcessed_df.dropna(inplace=True)
rangpur_preProcessed_df.dropna(inplace=True)
barisal_preProcessed_df.dropna(inplace=True)

In [12]:
show_missing_data(gazipur_preProcessed_df)
show_missing_data(habiganj_preProcessed_df)
show_missing_data(rangpur_preProcessed_df)
show_missing_data(barisal_preProcessed_df)

print()

print(gazipur_preProcessed_df.shape, rangpur_preProcessed_df.shape,
      barisal_preProcessed_df.shape, habiganj_preProcessed_df.shape)

Total instances=1817, missing=0(0.0%)
Total instances=323, missing=0(0.0%)
Total instances=1117, missing=0(0.0%)
Total instances=1443, missing=0(0.0%)

(1817, 12) (1117, 12) (1443, 12) (323, 12)

## 5. Merge stationwise separate datasets into a single dataset

In [13]:
merged_preProcessedAvg_df = pd.concat([gazipur_preProcessed_df, habiganj_preProcessed_df, 
                                   rangpur_preProcessed_df, barisal_preProcessed_df])
merged_preProcessedAvg_df.sample(5)

,Station,Month,Avg Min Temp. (degree Celcius),Avg Max Temp. (degree Celcius),Avg Rainfall (mm),Avg Actual Evaporation (mm),"Avg Relative Humidity (morning, %)","Avg Relative Humidity (afternoon, %)",Avg Sunshine (hour/day),Avg Cloudy (hour/day),Avg Solar Radiation (cal/cm^2/day),Rainfall (mm)
886,Gazipur,6,26.966667,35.133333,29.266667,4.266667,74.666667,65.000000,7.200000,6.400000,421.793333,0.0
487,Barisal,5,22.133333,32.933333,12.933333,3.710870,95.333333,70.333333,5.866667,7.333333,377.753333,0.6
505,Rangpur,4,20.600000,30.800000,0.000000,5.333333,72.000000,57.333333,8.533333,3.966667,451.826667,0.0
198,Gazipur,7,25.466667,31.400000,17.733333,0.666667,88.666667,78.666667,1.600000,11.900000,252.830000,0.0
417,Gazipur,2,23.233333,31.133333,0.000000,4.066667,77.666667,61.000000,5.566667,5.633333,294.463333,0.0

## 6. Convert categorical 'Station' column to numeric with One-Hot-Encoding

In [14]:
merged_preProcessedAvg_df = pd.get_dummies(merged_preProcessedAvg_df, columns=['Station'])
merged_preProcessedAvg_df.sample(5)

,Month,Avg Min Temp. (degree Celcius),Avg Max Temp. (degree Celcius),Avg Rainfall (mm),Avg Actual Evaporation (mm),"Avg Relative Humidity (morning, %)","Avg Relative Humidity (afternoon, %)",Avg Sunshine (hour/day),Avg Cloudy (hour/day),Avg Solar Radiation (cal/cm^2/day),Rainfall (mm),Station_Barisal,Station_Gazipur,Station_Habiganj,Station_Rangpur
193,6,26.166667,31.333333,5.833333,2.333333,85.666667,72.333333,3.666667,9.933333,308.786667,0.000000,0,0,0,1
686,11,23.033333,31.366667,0.000000,1.666667,85.000000,66.000000,4.833333,6.066667,244.803333,0.000000,0,1,0,0
679,11,17.600000,28.400000,1.107494,1.000000,94.666667,55.000000,5.800000,5.200000,274.823333,1.107494,1,0,0,0
1373,10,26.066667,34.000000,6.733333,5.066667,80.000000,66.333333,5.033333,6.466667,289.756667,0.000000,0,1,0,0
1382,10,25.266667,33.133333,0.000000,1.666667,79.666667,64.666667,7.866667,3.633333,371.583333,11.200000,0,1,0,0

## 7. Create the classification dataset

In [15]:
def rain_classifier(_df):
    """
    create a column 'Rainfall' with classification labels with margins,
        - rainfall==0 -> no rain -> 0
        - rainfall>0 && rainfal<=22 -> light to moderate rain -> 1
        - rainfall>22 -> heavy to very heavy rain -> 2
        
    and drop the 'Rainfall (mm)' regression column
    """
    
    df = _df.copy()
    
    rainfall_labels = []
    
    for rainfall in df['Rainfall (mm)']:
        if rainfall==0:
            rainfall_labels.append(0) # no rain
        elif rainfall>0 and rainfall<=22:
            rainfall_labels.append(1) # light to moderate
        elif rainfall>22:
            rainfall_labels.append(2) # heavy
        else:
            print(f'outside rainfall margins -> {rainfall}')
            
    # insert classification column
    df['Rainfall'] = rainfall_labels
    # drop regression column
    df.drop(columns=['Rainfall (mm)'], inplace=True)

    return df

In [16]:
merged_preProcessedAvg_clf_df = rain_classifier(merged_preProcessedAvg_df)
merged_preProcessedAvg_clf_df.sample(5)

,Month,Avg Min Temp. (degree Celcius),Avg Max Temp. (degree Celcius),Avg Rainfall (mm),Avg Actual Evaporation (mm),"Avg Relative Humidity (morning, %)","Avg Relative Humidity (afternoon, %)",Avg Sunshine (hour/day),Avg Cloudy (hour/day),Avg Solar Radiation (cal/cm^2/day),Station_Barisal,Station_Gazipur,Station_Habiganj,Station_Rangpur,Rainfall
386,1,13.666667,28.566667,0.000000,2.666667,79.333333,45.666667,7.433333,3.266667,366.453333,0,1,0,0,0
1590,5,23.666667,35.000000,4.200000,4.200000,73.000000,64.333333,8.600000,4.700000,465.603333,0,1,0,0,0
177,6,27.533333,34.666667,2.266667,3.656391,74.333333,66.000000,7.800000,8.914407,441.093333,0,1,0,0,1
103,4,22.500000,33.933333,0.933333,1.666667,82.333333,66.000000,7.666667,4.833333,425.243333,0,0,1,0,0
830,4,23.600000,34.433333,0.000000,4.666667,90.000000,46.333333,9.066667,3.533333,470.473333,1,0,0,0,0

## Save the pre-processed and merged datasets

In [17]:
merged_preProcessedAvg_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'pre-processed', 'brri-weather_preprocessedAvg_regression.csv'), index=False)
merged_preProcessedAvg_clf_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'pre-processed', 'brri-weather_preprocessedAvg_classification.csv'), index=False)

## 8. Train-Test split in 80:20 ratio

In [18]:
def splitTrainTest_and_scale(_df, class_label, is_regression=False):
    from sklearn.model_selection import train_test_split
    from sklearn.preprocessing import MinMaxScaler
    
    df = _df.copy()
    
    X_all = df.drop(columns=class_label)
    y_all = df[class_label]

    if(is_regression):
        X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42, shuffle=True)
    else:    
        X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42, shuffle=True, stratify=y_all)

    # scale the dataset
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_train = pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train.columns)
    X_test_scaled = scaler.transform(X_test)
    X_test = pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test.columns)
    
    # concat X, y
    train_df = pd.concat([X_train, y_train], axis=1).reset_index(drop=True)
    test_df = pd.concat([X_test, y_test], axis=1).reset_index(drop=True)
    
    return train_df, test_df

In [19]:
merged_preProcessed_train_df, merged_preProcessed_test_df = splitTrainTest_and_scale(merged_preProcessedAvg_df, \
                                                               class_label='Rainfall (mm)', \
                                                               is_regression=True)

preProcessed_clf_train_df, preProcessed_clf_test_df \
= splitTrainTest_and_scale(merged_preProcessedAvg_clf_df, class_label='Rainfall')

In [20]:
merged_preProcessed_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'final-dataset', 'train', 'brri-weather_avg_train_regression.csv'), index=False)
merged_preProcessed_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'final-dataset', 'test', 'brri-weather_avg_test_regression.csv'), index=False)

preProcessed_clf_train_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'final-dataset', 'train', 'brri-weather_avg_train_classification.csv'), index=False)
preProcessed_clf_test_df.to_csv(os.path.join('..', '..', 'Datasets', 'brri-datasets', 'final-dataset', 'test', 'brri-weather_avg_test_classification.csv'), index=False)